body {
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    color: #434455;
}

h1,h2,h3,h4,h5,h6,p {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

button {
    cursor: pointer;
}

ul,ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
    margin: 0;
}

img {
    display: block;
}

address {
    font-style: normal;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.list {
    list-style-type: none;
}

.link {
    text-decoration: none;
}


.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.container {
    width: 1158px;
    padding-left: 156px;
    padding-right: 156px;
    margin: 0 auto;
    padding: 0 15px;
}

.page-header {
    margin: 0 auto;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.page-div {
    display: flex;
    justify-content: space-between;
}

.nav-header {
    display: flex;
    align-items: center;
    padding: 24px 0;
}

.header-ul {
    display: flex;
    gap: 40px;
}


.a-studio {
    color: #4D5AE5;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    margin-right: 76px;
}

.a-span {
    color: #2E2F42;
}

.nav-page {
    color: #2E2F42;
    font-family: 'Roboto',sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.studio {
    position: relative;
    color: #404bbf;
}

.nav-page:hover,
.nav-page:focus {
    color: #404bbf;
}

.studio::after {
    position: absolute;
    display: block;
    content: '';
    width: 100%;
    height: 4px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #404BBF;
    bottom: -1px;
}

.a-address {
    color: #434455;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.a-address:hover,
.a-address:focus {
    color: #404bbf;
}

.section-one {
    margin: 0 auto;
    background: #2E2F42;
    padding-top: 188px;
    padding-bottom: 188px;
    text-align: center;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1440px;
    background-position: center;
}

.hero-div {    
    align-items: center;
}


.section-h-hero {
    max-width: 496px;
    color:  #FFFFFF;
    font-family:'Roboto', sans-serif;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
    width: 496px;
    text-align: center;
    margin: 0 auto 48px auto;
}

.section-button {
    min-width: 169px;
    color: #FFFFFF;
    height: 56px;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    background: #4D5AE5;
    cursor: pointer;
    padding: 16px 32px;
    border-radius: 4px;
    background: #4D5AE5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.section-button:hover,
.section-button:focus {
    background-color: #404BBF;
}

.section-h-two {
    color:  #2E2F42;
    text-align: center;
    font-family: 'Roboto',sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.icons-advantages {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 264px;
    height: 112px;
    border-radius: 4px;
    border: 1px solid  #8E8F99;
    background: #F4F4FD;

    margin-bottom: 8px;
    
}

.section-two-ul {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.section-two-li {
    width: calc((100% - 72px) / 4);
}

.section-four-li {
    width: calc((100% - 48px) / 3);
    background: #FFF;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.img-pers {
    width: 100%;
}

.ul-h-tree {
    color: #2E2F42;
    font-family: 'Roboto',sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    margin-bottom: 8px;
}

.ul-p {
    color:#434455;
    font-family: 'Roboto',sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    width: 264px;
}

.section-tree-divs {
    padding: 32px 0;
}

.section-four-divs {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.section-four-li:hover {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.section-tree {
    background: #F4F4FD;
}

.section-four-ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 48px 24px;
}


.hover-div {
    position: relative;
    overflow: hidden;
}

.section-four-li:hover .hover-p {
    transform: translateY(0);
}

.hover-p {
    position: absolute;
    overflow: auto;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #4D5AE5;

    padding: 40px 32px;
    color: #F4F4FD;
    font-family: "Roboto";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(100%);
}

.h-tree-li {
    color:  #2E2F42;
    font-family: 'Roboto',sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    margin-bottom: 8px;
}

.h-four-li {
    color: #2E2F42;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    margin-bottom: 8px
}

.ul-li {
    border-radius: 0px 0px 4px 4px;
    background: #FFFFFF;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    text-align: center;
}

.p-li {
    color:  #434455;
    font-family: 'Roboto',sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    margin-bottom: 8px;
}

.ul-social {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.a-social {
    fill: #F4F4FD;
    line-height: 0;
    width: 40px;
    height: 40px;
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.a-social:hover,
.a-social:focus {
    background-color: #404BBF;
}


.p-four-li {
    color: #434455;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.footer-a-studio {
    display: inline-block;
    color: #4D5AE5;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;   
    margin-bottom: 16px;
}

.a-span-footer {
    color: #F4F4FD;
}

.footer-p {
    color: #F4F4FD;
    font-family: 'Roboto',sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    width: 264px;
}

.head-footer {
    background: #2E2F42;
    padding-top: 100px;
    padding-bottom: 100px;
}

.section-two-footer{
    color: #FFFFFF;
    font-family: "Roboto";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.inside-footer {
    margin-right: 120px;
}

.footer-social {
    display: flex;
    gap: 16px;
}

.div-footer {
    display: flex;
    align-items: baseline;
}

.a-social-footer {
    fill: #F4F4FD;
    line-height: 0;
    width: 40px;
    height: 40px;
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.a-social-footer:hover,
.a-social-footer:focus {
    background-color: #31d0aa;
}

.div-two-footer {
    margin-right: 80px;
}

.input-footer::placeholder {
    color: #FFF;
    font-family: "Roboto";
    font-size: 12px;
    font-weight: 400;
    line-height: 2;

    letter-spacing: 0.48px;
}

.input-footer {
    background-color: transparent;
    width: 264px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid  #ffffff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding-left: 16px;

    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

}

.form-footer {
    display: flex;
    align-items: center;
    gap: 24px;
}

.svg-telegram {
    margin-left: 16px;
}

.button-footer {
    border-radius: 4px;
    background: #4D5AE5;
    min-width: 165px;
    height: 40px;
    padding: 8px 24px;

    color: #FFF;
    text-align: center;

    font-family: "Roboto" sans-serif;
    border: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;

    letter-spacing: 0.64px;
    display: flex;
    align-items: center;
    justify-content: center
}

/* ================== ALL MODAL ================== */

.back-drop {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.40);

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.back-drop.open-is {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 584px;
    border-radius: 4px;
    background: #FCFCFC;
    padding: 72px 24px 24px 24px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn {
    padding: 0;
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.10);
    display: flex;
    justify-content: center;
    align-items: center;
    top: 24px;
    right: 24px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    background-color: #E7E9FC;
}

.close-btn:hover,
.close-btn:focus {
    background-color:#404bbf;
    border: none;
    fill: #ffffff;
}

.svg-close {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.p-form {
    text-align: center;

    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;

    margin-bottom: 16px;

    color: #2E2F42;
}

.label-form {
    margin-bottom: 4px;
    color: #8E8F99;

    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;

    letter-spacing: 0.04em;
}

.input-form {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    outline: 4px;
    outline-color: transparent;
    background-color: transparent;

    padding-left: 38px;

    color: rgba(46, 47, 66, 1);

    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;

    letter-spacing: 0.04em;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.area-form {
    height: 120px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    resize: none;
    padding: 8px 16px;
    outline: transparent;

    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;

    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;

    letter-spacing: 0.04em;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.div-check-form {
    margin-bottom: 24px;
} 

.review-chek {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    border-radius: 2px;
    background-color: #ffffff;
    cursor: pointer;
    fill: transparent;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.chek-form {
    color: #8E8F99;

    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;

    letter-spacing: 0.04em;
    
}

.chek-form-input:checked + .chek-form .review-chek {
    fill: #F4F4FD;
    background-color: #404BBF;
    border: none;
}

.chek-form-input:focus + .chek-form .review-chek{
    outline: 2px solid rgba(0, 0, 255, 0.5);
}

.area-form::placeholder {
    color: #8E8F99;

    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;

    letter-spacing: 0.48px;
}

.div-post-icon {
    position: relative;
}

.svgs-form {
    position: absolute;
    top: 50%;
    left: 16px;
    fill: #2E2F42;

    transform: translateY(-50%);

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-form {
    display: block;
    min-width: 169px;
    padding: 16px 32px;
    margin: 0 auto;
    border-radius: 4px;
    border: none;
    background: #4D5AE5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

    color: #FFFFFF;
    text-align: center;

    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;

    letter-spacing: 0.04em;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.a-form {
    color: #4d5ae5;
    text-decoration: underline;
}

.input-form:focus,
.area-form:focus {
    border-color: #4D5AE5;
}

.input-form:focus + .svgs-form,
.area-form:focus {
    fill: #4D5AE5;
}

.btn-form:hover,
.btn-form:focus {
    background-color: #404BBF;
}

.div-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
}

.div-form-coment {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}
/* ================== /ALL MODAL ================== */